<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlink.member.mapper.MemberLevelMapper">

    <select id="selectByGrowth" resultType="com.starlink.member.entity.MemberLevel">
        SELECT * FROM member_level
        WHERE min_growth &lt;= #{growth} AND max_growth &gt; #{growth}
        AND deleted_at IS NULL
        ORDER BY level_order DESC
        LIMIT 1
    </select>

    <select id="selectAllOrderByLevel" resultType="com.starlink.member.entity.MemberLevel">
        SELECT * FROM member_level
        WHERE deleted_at IS NULL
        ORDER BY level_order ASC
    </select>

</mapper>